<head>

  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href='/bootstrap-3.3.7-dist/css/bootstrap.css' rel='stylesheet'>
  <link href="/main.css" rel="stylesheet">
  <link href='/startbootsrap-scrolling-nav-gh-pages/css/scrolling-nav.css' rel='stylesheet'>
  <script src ='/bootstrap-3.3.7-dist/js/bootstrap.js'></script>
  <script src='/startbootsrap-scrolling-nav-gh-pages/js/scrolling-nav.js'></script>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto" rel="stylesheet">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/static/favicons/manifest.json">
<meta name="theme-color" content="#ffffff">

  <!--CSS-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/static/main.css" rel="stylesheet">

</head>

<!--NavBar-->
<div class='container-fluid'>
<nav class="navbar transparent navbar-inverse navbar-fixed-top">

    <div class="navbar-header page scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand page-scroll" href="#page-top">Wise Waste Women</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="hidden active"><a class="page-scroll" href="#page-top">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a class="page-scroll right" href="#search-your-borough">Search your Borough</a></li>
      <li><a class="page-scroll" href="#about">About</a></li>
      <li><a class="page-scroll" href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
</div>

<body>

<h1>Hi welcome to the <%= @borough %></h1>

<h2>In your Borough you can recycle on Monday</h2>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

var disqus_config = function () {
  this.page.url = "<%= request.path_info %>";
  this.page.identifier = "<%= @borough %>";
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://wise-waste-women-2.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
  role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>

<script type="text/javascript">
    $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
});
</script>

<br>

</body>
</html>
