<!DOCTYPE html>

<head>

  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href='bootstrap-3.3.7-dist/css/bootstrap.css' rel='stylesheet'>
  <link href="main.css" rel="stylesheet">
  <link href='startbootsrap-scrolling-nav-gh-pages/css/scrolling-nav.css' rel='stylesheet'>
  <script src ='bootstrap-3.3.7-dist/js/bootstrap.js'></script>
  <script src='startbootsrap-scrolling-nav-gh-pages/js/scrolling-nav.js'></script>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Cabin|Montserrat|Roboto" rel="stylesheet">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="static/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="static/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="static/favicons/manifest.json">
<meta name="theme-color" content="#ffffff">

  <!--CSS-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="static/main.css" rel="stylesheet">
  <!--Title-->
  <title>Wise Waste Women</title>

</head>

<!--NavBar-->
<div class='container-fluid'>
<nav class="navbar transparent navbar-inverse navbar-fixed-top">

    <div class="navbar-header page scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand page-scroll" href="#page-top">Wise Waste Women</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="hidden active"><a class="page-scroll" href="#page-top">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a class="page-scroll right" href="#search-your-borough">Search your Borough</a></li>
      <li><a class="page-scroll" href="#about">About</a></li>
      <li><a class="page-scroll" href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
</div>

<body>

<title>Search your Borough</title>

 <section id="search-your-borough" class="search-your-borough">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">

 <h1>Let's make recycling easier!</h1>
 <h2>Search your Borough</h2>
    <br>
</div>

<div class="col-lg-offset-3 col-lg-6">
  <% @boroughs.each do |borough| %>
    <a href='/boroughs/<%= borough %>'><%= borough %></a>
  </br>
  <% end %>
</div>

 <br>
 <br>
 <br>
 <br>
 <br>
 </div>
 </div>
 </section>

 <section>
  <div class="col-lg-12">
  <img class="img-responsive center-block" src='static/recycle.jpg' alt="Responsive image" width="200" height="200">
  <br>
 </div>
 </section>

<section id="about" class="about-us">
<div class="container">
<div class="row">
<div class="col-lg-12">

<h1>About</h1>
<br>
<p>We want London to be cleaner and greener by making recycling accessible to everyone!</p>
<br>

</div>
</div>
</div>
</section>

<section id="contact" class="contact">
<div class="container">
<div class="row">


<h1>Contact</h1>
<br>
 <div class='row'>
<div class='col-md-4'>
<div>
      <img src='static/Katie.jpg' class="img-circle center-block" width="200" height="200">
     <blockquote>
      <small>Katie Garrett, Co-Founder</small>
      <div style="line-height:19.44px; margin-top: 10px">
      <span style="font-size: 80% !important";
      <a href="mailto:katie@wise-waste-women.org.uk">katie@wise-waste-women.org.uk</a>
      </span>
      </div>
      </blockquote>
    </div>
</div>
<div class='col-md-4'>
 <div>
      <img src='static/madeleine.jpg' class="img-circle center-block" width="200" height="200">
      <blockquote>
      <small>Madeleine Vironda, Co-Founder</small>
	<div style="line-height:19.44px; margin-top: 10px">
      <span style="font-size: 80% !important";
      <a href="mailto:madeleine@wise-waste-women.org.uk">madeleine@wise-waste-women.org.uk</a>
      </span>
      </div>
      </blockquote>
    </div>
  </div>
  <div class='col-md-4'>
     <div>
          <img src='static/Felicia.jpg' class="img-circle center-block" width="200" height="200">
          <blockquote>
          <small>Felicia Gutmans, Co-Founder</small>
    	<div style="line-height:19.44px; margin-top: 10px">
          <span style="font-size: 80% !important";
          <a href="mailto:felicia@wise-waste-women.org.uk">felicia@wise-waste-women.org.uk</a>
          </span>
          </div>
          </blockquote>
        </div>

</div>
</div>
</div>
</section>

<section id="social" class="social">
<div class="container">
<div class="row">
<div class="col-lg-12">
    <div id='social-buttons'>
          <a class='image-link' href='https://twitter.com/hashtag/bees?lang=en-gb' target='_blank'>
      <img src='static/Twitter.png' width="50" height="50">
    </a>
      <a class='image-link'>
      <img src='static/Facebook.png' width="50" height="50">
    </a>
      <a class='image-link' href='https://www.pinterest.com/explore/honey-bees/' target='_blank'>
      <img src='static/Pinterest.png' width="50" height="50">
    </a>
    </div>
    <img class="img-responsive center-block" src="static/Bee-Footer.png" alt="Responsive image">
  </div>
  </div>
  </div>
</section>


<!--JS-->
<script src="jQuery/jquery-3.1.1.min.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<!--Twitter -->
<div class="col-lg-6">
<h1>Tweets about #London #Recycling</h1>
<a class="twitter-timeline"  href="https://twitter.com/search?q=%23London%20%23Recycling" data-widget-id="932657494773653504">Tweets about #London #Recycling</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--Instagram-->
<div class="col-lg-6">
<h1>Images of #London #Recycling</h1>
          <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BbWkLO3AFuZ/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">All set for our #festive @loveyourclothes_uk workshop with @fabricationshackney and @towerhamletsnow let&#39;s all get creative and love our clothes for much much longer #christmas #christmasjumper #festive #repair #sewing #upcycle #upcycled #diy #clothes #saturdayfun #crafts #getcrafty #creative</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Recycle for London (@recycleforlondon) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-11-11T11:03:17+00:00">Nov 11, 2017 at 3:03am PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</div>


<!-- Back to Top -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
  role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>

<script type="text/javascript">
    $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
});
</script>

<br>
<br>
</body>
</html>
